<nav class="portfolio-nav">
  <div class="portfolio-section">
    <a class="portfolio-link portfolio-link-1" href="#">
      Weddings
    </a>
  </div><div class="portfolio-section">
  <a class="portfolio-link portfolio-link-2" href="#">
    Events
  </a>
</div><div class="portfolio-section">
  <a class="portfolio-link portfolio-link-3" href="#">
    Formals
  </a>
</div>
</nav>