* {
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Calibri, Helvetica, Arial;
}
.container {
  width: 1024px;
  max-width: 100%;
  margin: 0 auto;
}
